*{
  padding: 0px;
  margin: 0px;
}

.App {
  height: 600px;
  width: 600px;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

img{
  pointer-events: none;
  object-fit: cover;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the parent's color */
  cursor: pointer; /* Set the cursor to indicate interactivity */
  outline: none; /* Remove focus outline */
}

.Header{
  display: flex;
  align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  justify-content: space-between;
}

.Header p{
  font-size: 1.3rem;
  font-weight: 700;
}

.backarrow{
  height: 100%;
  padding: 0px 10px;
}

.forwardarrow{
  height: 100%;
  padding: 0px 10px;
}