

.guideBodyImage img{
    width: 100%;
}

.guideBody{
    display: flex;
    flex-direction: column;
}

.guideBodyPO{
    display: flex;
    /* justify-content: space-between; */
}

.guideBodyPOP{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: -4px;
}

.guideBodyPOT{
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #00125D;
    /* border-radius: 10px;
    background-color: blueviolet; */
}

.guideBodyPOT p{
    font-size: 1.1rem;
    color: white;
}